<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notify Button</title>
    <link rel="stylesheet" href="node_modules/pwstabs/assets/jquery.pwstabs.min.css">
    <link rel="stylesheet" href="node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="stylesheets/notify.css" />
</head>

<body>
    <center>
        <button class="btn btn-danger button button5" id="notification-btn">
            <a href="#">NOTIFY</a>
        </button>
    </center>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/notify.js"></script>
    
</body>

</html>